<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Taama |{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@TaamaBundle/Resources/public/css/*' filter='cssrewrite' output='css/compiled/app.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Start Bootstrap</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>

                {#
                <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-toggle"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path("taama_home_index") }}" style="max-width: 50%;">
                                {% image '@TaamaBundle/Resources/public/images/logo.png' %}
                                    <img src="{{ asset_url }}" alt="loader" class="hidden-xs img-responsive"/>
                                {% endimage %}
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Concept! <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Transporter un colis</a></li>
                                <li><a href="#">Envoyer un colis</a></li>
                                <li><a href="#">Contact</a></li>
                                <li class="dropdown">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        
                                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                                            <i class="glyphicon glyphicon-user"></i>   {{ app.user.username }} <span class="caret"></span></a>
                                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{{ path('fos_user_security_logout') }}">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            </li>
                                        </ul>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div><!-- /container -->
                </div>
                #}
            {% endblock %}  <!-- End of block header -->
            <div class="container">
                {% block logo %}
                    <header class="jumbotron hero-spacer">
                        <h1>A Warm Welcome!</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
                        <p><a class="btn btn-primary btn-large">Call to action!</a>
                        </p>
                    </header>
                {% endblock %}

                {% block features %}
                    <div class="row text-center">

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 hero-feature">
                            <div class="thumbnail">
                                <img src="http://placehold.it/800x500" alt="">
                                <div class="caption">
                                    <h3>Feature Label</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <p>
                                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endblock %}
                    {% block content %}
            
                    {% endblock %}
                </div>
            </div>

            {% block footer %}
                <footer class="text-center">
                    <p>Taama © {{ 'now'|date('Y') }}.</p>
                </footer>
            {% endblock %}
        {% endblock %} <!-- End of block body -->

        {% block javascript %}
            Hello
            {% javascripts '@TaamaBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
