<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Taama |{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@TaamaBundle/Resources/public/css/bootstrap.css' filter='cssrewrite' output='css/compiled/bootstrap.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
                {% stylesheets '@TaamaBundle/Resources/public/css/heroic-features.css' filter='cssrewrite' output='css/compiled/heroic-features.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
                {% stylesheets '@TaamaBundle/Resources/public/css/style.css' filter='cssrewrite' output='css/compiled/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                {% include "default/header.nav.html.twig" %}
            {% endblock %}  <!-- End of block header -->
            <div class="container">
                {% block container %}
                    {% block logo %}

                    {% endblock %}

                    {% block features %}

                    {% endblock %}
                {% endblock %}
                </div>
            </div>

            {% block footer %}
                <footer class="text-center">
                    <p>Taama © {{ 'now'|date('Y') }}.</p>
                </footer>
            {% endblock %}
        {% endblock %} <!-- End of block body -->

        {% block javascript %}
            {% javascripts '@TaamaBundle/Resources/public/js/jquery/jquery.js' %}
                 <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@TaamaBundle/Resources/public/js/bootstrap.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
